<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    <link rel="stylesheet" href="home.css" />
  </head>

  <body>
    <%- include('partials/header') %>

    <main>
      <div class="container mt-4">
        <h2>Welcome to My Portfolio</h2>
        <p>Explore my projects and skills!</p>
      </div>
    </main>
    <div class="lower-section">
      <section id="home" class="hidden-section">
        <h2 style="font-family: 'Times New Roman', Times, serif;">VICTOR OBINNA NKWUO</h2>
        <ul class="project-list">
          <li class="project-item"><strong>BACKEND DEVELOPER</strong></li>

          <li>
            <div class="logos-container">
              <div class="logo-item"><a href="https://instagram.com/realllemonn?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr" title="Instagram"><i class="fab fa-instagram"></i></a></div>
              <div class="logo-item"><a href="https://www.linkedin.com/in/victor-nkwuo-335124298" title="Linkedin"><i class="fab fa-linkedin"></i></a></div>
              <div class="logo-item"><a href="https://github.com/VENOMM9" title="github"><i class="fab fa-github"></i></a></div>
              <div class="logo-item"><a href="https://x.com/obinnavyk?s=11&t=VuzcXjMpF7RELQTGqCkCfQ" title="fa-Twitter"><i class="fab fa-twitter"></i></a></div>
            </div></li>
        </ul>
      </section>
      <section id="about" class="hidden-section">
        <h2>About Me</h2>
        <p class="animate-words">Hi there! I'm Victor Obinna Nkwuo, a passionate backend developer with a strong affinity for creating efficient web applications. With a background in Petroleum Engineering, I bring a unique perspective to the world of software development, combining analytical thinking with creative problem-solving skills.</p>
      
        <h3>Skills and Expertise</h3>
        <p class="animate-words">My technical expertise includes comfortability in using HTML, CSS, JavaScript, Node.js,  Express.js. I'm also versed in working with SQL and MongoDB databases, leveraging tools like Mongoose for efficient data management. With a good foundation in Git/GitHub and experience in testing with Jest, I ensure the reliability and scalability of my projects.</p>
      
      </section>
      <section>
        <h2>Projects</h2>
  
        <div id="projects" class="projects-container">
          <div class="projects-item project-1">
            <a href="https://domash.onrender.com/">
              <img src="images/blog.png" alt="Blog Management API" />
              <span>Blog Management API</span>
            </a>
          </div>
          <div class="projects-item project-2">
            <a href="lemon-a72u.onrender.com/">
              <img src="images/lemon.png" alt="TODO Management App" />
              <span>TODO Management App</span>
            </a>
          </div>
          <div class="projects-item project-3">
            <a href="https://website-portfolio-work-git-main-venomm9.vercel.app/">
              <img src="images/vercel.png" alt="Portfolio Work" />
              <span>Portfolio Work</span>
            </a>
          </div>
          <div class="projects-item project-4">
            <a href="https://victor-nkwuo.onrender.com/">
              <img src="images/welcome.png" alt="My Portfolio" />
              <span>My Portfolio</span>
            </a>
          </div>
          <div class="projects-item project-5">
            <a href="https://christina-melameka.onrender.com/">
              <img src="images/modelport.png" alt="Project Portfolio Work" />
              <span>Project Portfolio Work</span>
            </a>
          </div>
        </div></section>
        
      
      <section id="skills" class="hidden-section">
        <h2>Skills</h2>
        <ul class="project-list">
          <li class="project-item"><i class="material-icons">code</i> HTML</li>
          <li class="project-item">
            <i class="material-icons">palette</i> CSS
          </li>
          <li class="project-item">
            <i class="material-icons">functions</i> JavaScript
          </li>
          <li class="project-item">
            <i class="material-icons">dns</i> Node.js
          </li>
          <li class="project-item">
            <i class="material-icons">functions</i> Express.js
          </li>
          <li class="project-item">
            <i class="material-icons">storage</i> SQL
          </li>
          <li class="project-item">
            <i class="material-icons">cloud</i> MongoDB
          </li>
          <li class="project-item">
            <i class="material-icons">extension</i> Mongoose
          </li>
          <li class="project-item">
            <i class="material-icons">source</i> Git/GitHub
          </li>
          <li class="project-item">
            <i class="material-icons">extension</i> EJS
          </li>
          <li class="project-item">
            <i class="material-icons">extension</i> Jest
          </li>
        </ul>
      </section>

      <section id="soft-skills" class="hidden-section">
        <h2>Soft skills</h2>
        <ul class="project-list">
          <li class="project-item">Excellent researcher</li>
          <li class="project-item">Networking</li>
          <li class="project-item">Leadership</li>
          <li class="project-item">Adaptability</li>
          <li class="project-item">Creativity and application of new ideas</li>



          <li class="project-item">Comfortable with various technologies</li>
        </ul>
      </section>

      <section id="experience" class="hidden-section">
        <h2>Experience</h2>
        <ul class="project-list">
            <li class="project-item">
                <strong>Online Tutor (remote)</strong> - Offered personalized online tutoring services in various subjects, providing guidance and support to students. Developed tailored lesson plans, conducted assessments, and fostered a conducive learning environment for students to excel academically.
                (July 2021 - Present)
            </li>
            <li class="project-item">
                <strong>Petroleum Engineer</strong> - Petroleum Equalization Fund (August 2020 - August 2021)
                <p class="hidden-text">
                  Conducted data analysis and contributed to petroleum equalization projects. Applied engineering principles to optimize resource extraction and refine data-driven methodologies.

                </p>
            </li>
            <li class="project-item">
                <strong>OPT Travel and Tour Agency</strong> -  Managed customer inquiries, travel arrangements, and marketing initiatives. Enhanced communication and customer service skills while promoting various travel packages and destinations.
                (August 2018 - August 2020)
            </li>
        </ul>
    </section>
    

      <section id="education" class="hidden-section">
        <h2>Education</h2>
        <ul class="project-list">
          <li class="project-item">
            <strong>Backend Engineering nodejs Track:</strong> AltSchool Africa, Nigeria, April
            2023 (ongoing)
          </li>
          <li class="project-item">
            <strong>Bachelor of Science:</strong> Petroleum Engineering, Ufa State Petroleum
            Technological University, Russia, June 2018
          </li>
         
      </section>
      

      <section id="contacts" class="hidden-section">
        <h2>Contact</h2>
        <ul class="project-list">
          <li class="project-item">
            Email: vobinn3@gmail.com, vaikemann9@gmail.com
          </li>
          <li class="project-item">Phone: +2348065253651, +79263878809</li>
          <li class="project-item">
            LinkedIn: <a href="linkedin.com/in/victor-nkwuo-335124298">LINK TO LINKEDIN</a>
          </li>
          <li style="text-decoration: none;" class="project-item">Github: <a href="github.com/VENOMM9">LINK TO GITHUB</a></li>
        </ul>
      </section>
    </div>
    <script>

      
      // Smooth scrolling for navigation links
      const navLinks = document.querySelectorAll(".nav-link");
      navLinks.forEach((link) => {
        link.addEventListener("click", (e) => {
          e.preventDefault();
          const targetId = link.getAttribute("href");
          const targetElement = document.querySelector(targetId);
          if (targetElement) {
            window.scrollTo({
              top: targetElement.offsetTop - 50, 
              behavior: "smooth",
            });
          }
        });
      });
    </script>

    <script>
      const projectItems = document.querySelectorAll(".project-item");
      let lastScrollPosition = window.scrollY;
      function isInViewport(element) {
        const rect = element.getBoundingClientRect();
        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <=
            (window.innerHeight || document.documentElement.clientHeight) &&
          rect.right <=
            (window.innerWidth || document.documentElement.clientWidth)
        );
      }

      function handleScroll() {
        const currentScrollPosition = window.scrollY;

        if (currentScrollPosition > lastScrollPosition) {
          //This is a function for  Scrolling down
          projectItems.forEach((item, index) => {
            if (isInViewport(item)) {
              item.classList.add("show");
              if (index % 2 !== 0) {
                item.style.transform = "translateX(50px)";
              }
              if (index >= projectItems.length - 2) {
                item.style.transform = "translateX(0)";
              }
            }
          });
        } else {
          // This is a function for Scrolling up
          projectItems.forEach((item, index) => {
            if (!isInViewport(item)) {
              item.classList.remove("show");
              if (index % 2 !== 0) {
                item.style.transform = "translateX(0)";
              }
              if (index >= projectItems.length - 2) {
                item.style.transform = "translateX(0)";
              }
            }
          });
        }

        lastScrollPosition = currentScrollPosition;
      }

      window.addEventListener("scroll", handleScroll);
      handleScroll();
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
